* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #fff;
    font-size: 16px;
}

body {
    background-color: darkblue;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
}

.scoreRound {
    display: flex;
    justify-content: space-evenly;
    font-size: 1px;
}

.roundCount {
    font-size: 1.5rem;
}

.choices {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 0 30px 100px 30px;
}

.rock, .paper, .scissors {
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.rock:hover, .paper:hover, .scissors:hover {
    transform: scale(1.1);
}

.roundResult {
    font-size: 1.5rem;
    align-self: center;
}

.myPoints, .compPoints {
    font-size: 1.8rem;
}

.myChoice, .compChoice {
    width: 200px;
    height: 100px;
    visibility: hidden;
    margin: 10px;
    padding: 0 30px 100px 30px;

}

.myWrapper, .compWrapper {
    text-align: center;
}

.header {
    font-size: 4rem;
    margin-top: -10rem;
    text-align: center;
}