* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #fff;
    font-size: 16px;
}

body {
    background-color: darkblue;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4rem;
}

.scoreRound {
    display: flex;
    justify-content: space-between;
    font-size: 1px;
    padding: 5px 20px;
}

.roundCount {
    font-size: 1.5rem;
}

.choices {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 0 30px 100px 30px;
}

.rock, .paper, .scissors {
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.rock:hover, .paper:hover, .scissors:hover {
    transform: scale(1.1);
}

.roundResult {
    font-size: 1.5rem;
    align-self: center;
}

.finalResult {
    font-size: 3rem;
    align-self: center;
}

.myPoints, .compPoints {
    font-size: 1.8rem;
}

.myChoice, .compChoice {
    width: 200px;
    height: 100px;
    padding: 100px 30px 10px 30px;

}

.myWrapper, .compWrapper {
    text-align: center;
    margin-top: -100px;
    display: none;
}

.header {
    font-size: 4rem;
    margin-top: 0.5rem;
    text-align: center;
}

.newGame {
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: cyan;
    cursor: pointer;
}

.newGame:hover {
    background-color: purple;
    border-style: solid;
    color: #fff;
}